body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/images/background.jpg'); 
    scroll-behavior: smooth;
}
.logo{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25;
    margin-left: 20px;
    font-weight: bold;
}
.page2{

    color: red;
    z-index: 100;
    display:flex;
    flex-direction: column;
}
.addPlanetButton{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20;
    margin-left: 20px;
    font-weight: bold;
    color: blue;

}
.updatePlanetButton{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20;
    margin-left: 20px;
    font-weight: bold;
    color: blue;
}
.deletePlanetButton{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20;
    margin-left: 20px;
    font-weight: bold;
    color: blue;

}
.navbar-darkblue {
    background-color: hsl(240, 96%, 21%); 
    color: #fff; 
}
.navbar-custom-height {
    height: 55px; 
}

.search-form {

  }
  

.navbar-darkblue .navbar-nav .nav-link,
.navbar-darkblue .navbar-brand,
.navbar-darkblue .form-control,
.navbar-darkblue .btn {
    color: white;
}


.navbar-darkblue .navbar-nav .nav-link:hover,
.navbar-darkblue .navbar-brand:hover,
.navbar-darkblue .form-control:hover,
.navbar-darkblue .btn:hover {
    color: #000000;
    background-color: white;

}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
.title{
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3;

}
.planet {
    position: absolute;
    width: 160px;
    height: 160px;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

.planet1 {
    top: 30%;
    left: 10%;
    
 background-image: url('/images/earth.png');

    animation: orbit1 7s linear infinite;
}

.planet2 {
    top: 50%;
    left: 50%;
    height: 190px;
    width: 190px;
    background-image: url('/images/jupiter.png');

    animation: orbit2 7s linear infinite;
    z-index: 0;
    
}

.planet4 {
    top: 20%;
    left: 80%;
    background-image: url('/images/neptune.png'); 
    animation: orbit3 20s linear infinite;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #05035e;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ffffff;
    width: 60%;
    text-align: center;
    color: hwb(0 100% 0%);
}

.close {
    color:hsl(0, 0%, 100%);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 90%;
}

.close:hover,
.close:focus {
    color: #ff0808;
    text-decoration: none;
    cursor: pointer;
}





footer {
    background-color: #000000;
    color:white;
    font-weight: bold;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    color: hsl(240, 100%, 40%); ;
}

.footer-section {
    flex: 1;
}

.footer-section.left {
    text-align: left;
}

.footer-section.center {
    text-align: center;
}

.footer-section.right {
    text-align: right;
}


header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.header-section {
    flex: 1;
}

.header-section.left {
    text-align: left;
}

.header-section.center {
    text-align: center;
}

.header-section.right {
    text-align: right;
}

.navigation-bar{
    background-color: #d33333;
    padding: 0, 20px;
   
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000; 
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-menu {
    z-index: 1000; 
}

@keyframes orbit1 {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

@keyframes orbit2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes orbit3 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
