body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #080000; /* Black background */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
.title{
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
  fornt-weight: bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3;

}
.planet {
    position: absolute;
    width: 160px;
    height: 160px;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

.planet1 {
    top: 30%;
    left: 10%;
    
 background-image: url('/images/earth.png');
    /* Example: background-image: url('images/planet1.png'); */
    animation: orbit1 7s linear infinite;
}

.planet2 {
    top: 50%;
    left: 50%;
    background-image: url('/images/jupiter.png');
    /* Example: background-image: url('images/planet2.png'); */
    animation: orbit2 15s linear infinite;
    z-index: 0;
    
}

.planet4 {
    top: 20%;
    left: 80%;
    background-image: url('/images/neptune.png'); 
    animation: orbit3 20s linear infinite;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    color: #000;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



nav {
    background-color: #000000;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #f15309;
}


@keyframes orbit1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes orbit2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes orbit3 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
